.bottom-summary{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    margin-top:18px;
    border-top:1px solid #ECECEC;
    background:#ffffff;
    border-radius:12px;
    padding:10px 0;
}

.summary-item{
    padding:16px 18px;
    border-right:1px solid #ECECEC;
}

.summary-item:last-child{
    border-right:none;
}

.summary-title{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:13px;
    color:#6B7280;
    margin-bottom:10px;
    font-weight:500;
}

.circle{
    font-size:8px;
}

.summary-price{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:15px;
    font-weight:700;
    color:#111827;
}

.summary-up,
.summary-down{
    display:flex;
    align-items:center;
    gap:4px;
    font-size:12px;
    font-weight:600;
}

.summary-up{
    color:#16A34A;
}

.summary-down{
    color:#EF4444;
}

@media(max-width:1200px){

.bottom-summary{
    grid-template-columns:repeat(2,1fr);
}

.summary-item:nth-child(2){
    border-right:none;
}

}

@media(max-width:768px){

.bottom-summary{
    grid-template-columns:1fr;
}

.summary-item{
    border-right:none;
    border-bottom:1px solid #ECECEC;
}

.summary-item:last-child{
    border-bottom:none;
}

}