/* =====================
   HEADER
===================== */

.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:18px;

}

.header-left h1{

    font-size:34px;

    font-weight:700;

    color:#1e1e1e;

    margin-top:5px;

}

.breadcrumb{

    font-size:11px;

    color:#9d9d9d;

}

.breadcrumb span{

    color:#666;

}

.header-right{

    display:flex;

    align-items:center;

}

.date-btn{

    height:36px;

    padding:0 15px;

    background:#fff;

    border:none;

    border-radius:8px;

    display:flex;

    align-items:center;

    gap:8px;

    box-shadow:0 2px 5px rgba(0,0,0,.05);

    color:#666;

    font-size:12px;

}

/* =========================
   White Wrapper
========================= */

.stats-wrapper{

    background:#fff;

    border-radius:10px;

    padding:12px;

    box-shadow:0 2px 6px rgba(0,0,0,.05);

}

/* =========================
   Grid
========================= */

.stats-grid{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:12px;

}

/* =========================
   Card
========================= */

.stat-card{

    height:72px;

    border-radius:6px;

    padding:10px 12px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.stat-card p{

    font-size:10px;

    color:#555;

    margin-bottom:6px;

}

.stat-card h3{

    font-size:18px;

    color:#2d2d2d;

    font-weight:700;

}

.icon-box{

    width:30px;

    height:30px;

    border-radius:6px;

    background:rgba(255,255,255,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:15px;

}

/* =========================
   Colors
========================= */

.blue{

    background:#eaf3ff;

}

.sky{

    background:#dcebff;

}

.purple{

    background:#efe5ff;

}

.orange{

    background:#ffe8cb;

}

.green{

    background:#dbffd8;

}